---
import AboutHeroImage from '../assets/about-placeholder.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Early thoughts"
	pubDate={new Date('April 23 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Growing economic inequality and the rise of the technocratic billionaires
		should be among our biggest priorities. Our future and the future of our children
		depends upon getting this right.
	</p>
</Layout>
