---
import AboutHeroImage from '../assets/about-placeholder.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Early thoughts"
	pubDate={new Date('April 23 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		A regular person who has worked in tech for a long time with many hats.
		I love music: listening, playing, and making.
		Today's interests are :
	</p>
	<ul>
		<li>Growing economic inequality and</li>
		<li>The rise of the technocratic billionaires</li>
	</ul>
	<p>
		These should be among our biggest priorities. Our future and the future of our children
		depends upon getting this right.
	</p>
</Layout>
