---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>😎 Welcome, visitor!</h1>
			<p>
				Welcome to my blog! I'm frankly amazed that you found it.
				This site was built with <a href="https://astro.build/">Astro</a>, which is fast and fun to setup.
				I'm a complete novice so if you want to explore that, please go take a look (then come back here).
			</p>
			<p>
				Like most new bloggers, I hope to post regularly, but probably won't. Take it or leave it.
			</p>
			<p>
				
		</main>
		<Footer />
	</body>
</html>
